# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env
.env.*
!.env.example

# Django/local files
db.sqlite3
media/
staticfiles/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

